<a href="https://colab.research.google.com/github/MinervaHastur/Data3401/blob/main/Copy_of_Minerva_Simonsons_W3_Lab1_Questions_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 3. Lab 1.Basic Python Questions**

**Question 1:** What are the two types of numeric data types in Python? give me example of each example.

In [ ]:

##float and Int

numint=1
numfloat=5.4352
print(type(numint))

print(type(numfloat))

<class 'int'>
<class 'float'>

**Question 2:** How do you convert the string "123"

into an integer?

In [ ]:
numstr="123"
type (numstr)
numstr=int(numstr)
type(numstr)

int

**Question 3:** Write a Python expression that adds two integers and then multiplies the result by a float.

In [ ]:
from operator import mul
vari1=int(1)
vari2=int(2)
vari3=float(6.39)
answer=float((vari1+vari2)*(vari3))
print(answer)

19.169999999999998

**Question 4:** What is the output of the following code: print(8 / 4)?

In [ ]:

print(8/4)
##2.0

2.0

**Question 5:**Given the variables x = 5 and y = 2, write a Python expression that uses PEMDAS rules to calculate (x^2 + y) / (y - x).

In [ ]:
x=5
y=2
((x**2)+y)/(y-x)

-9.0

**Question 6:**  How do you create a string variable containing the text "Hello, Python!"?

In [ ]:

hi="Hellow, Python!"
print(hi)

**Question 7:**Write a Python line of code that asks the user for their name and then prints a greeting including the name.

In [ ]:


yourname=input("What is your name: ")
print("Hello "++ yourname)

What is your name: Minerva

**Question 8:**What will be the output of the following code snippet: print(10 % 3)?

In [ ]:
print(10%3)
##1

1

**Question 9:** Create a float number, then convert a float to an integer in Python?

In [ ]:
num=float(5.999)
round(num)
num=int(num)
type(num)

int

**Question 10:**Write a Python code snippet that calculates the average of three numbers: 4, 5, and 8.

In [ ]:

x=4
y=5
z=8

print((x+y+z)/3)

5.666666666666667

**Question 11:** Explain the difference between the output of print(9 // 2) and print(9 / 2).

In [ ]:

print(9//2)
print(9/2)
##the output of 9//2 is data type int
##the output of 9/2 is data type float

4
4.5

**Question 12:** Write a Python script that takes two user inputs: first_name and last_name, then prints them in reverse order with a space between them.

In [ ]:
nameF=input("What is your first name: ")
nameL=input("What is your last name: ")
print(nameL+" "+nameF)

What is your first name: Minerva
What is your last name: Simonson
Simonson  Minerva

**Question 13:** What is the result of the following expression: (100 - 5 ** 3) / 5?

In [ ]:
(100-5**3)/5
##-5.0

-5.0

**Question 14:**Calculate the result of the following expression and explain the order of operations: (8 + 2 * 5) / (1 + 3 * 2 - 4).

In [ ]:
(8+2*5)/(1+3*2-4)

## Python uses PEMDAS, so it executes all operators in parenthes first, followed by exponets, followed by multplication and divsion, followed by addition and subtraction

6.0

**Question 15:**String and Arithmetic Operations: Given x = "100" and y = "200", convert them to integers, add them, then convert the result back to a string.

In [ ]:
A="100"
B="200"
C=int(100+200)
C=str(C)
type(C)

str

**Question 16:** User Input Conversion: Write a Python script that asks for two numbers from the user, converts them to integers, multiplies them, and prints the result. Comparing Strings and Integers: What will be the result of comparing

In [ ]:
A = int(input("enter a number: "))
B = int(input("enter a second number: "))
C=A*B
print(C)

enter a number: 3

**Question 17:** Given a = 5.7 and b = "3", convert b to an integer, add a and b, and round the result to the nearest integer.

In [ ]:
b="3"
b=int(b)
a=5.7
c=a+b
round(c)

9


**Question 18:** Write a Python program that requests the user to input a distance in kilometers and then converts it to miles."

In [ ]:
kilo=input("Enter a distance in Kilometers: ")
kilo=float(kilo)
mile=float(kilo*0.6213712)
print(mile)

Enter a distance in Kilometers: 9
5.5923408000000006

**Question 19:** Develop a Python script that prompts the user to provide a speed in kilometers per hour and then converts it to meters per second

In [ ]:
MPH=input("Enter a speed in kilometers per hour ")
MPH = float(MPH)
mPS= MPH*0.44704
print(mPS)

Enter a speed in kilometers per hour 80
35.7632

**Question 20:**Create a Python application that asks the user to enter an amount in pounds and then converts it to kilograms.

In [ ]:
lbs=input("Enter a weight in pounds: ")
lbs=float(lbs)
kilos=lbs*0.4535924
print(kilos)