<a href="https://colab.research.google.com/github/MinervaHastur/Data3401/blob/main/W3_HW1_MinvervaSimonson_Python_Syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Homework 2: Basic Markdown, Python Variables, Math Operations, User Input, and PEMDAS**

This homework is designed to enhance your understanding of several fundamental concepts in Python and Jupyter Notebooks, including Markdown formatting, variable assignment, basic mathematics operations, handling user input, and the order of operations (PEMDAS).

**Instructions:**
- Answer each question in the notebook, using a Markdown cell for explanations and a code cell for Python code.
- Ensure to execute your Python code to display the answers where applicable.

1. Show what Markdown is used for in Jupyter Notebooks.

Markdown is used to write and format text within the notebook

2. Show how to format text to be bold in Markdown? Provide an example.

**Bold text uses two asterisks around the text**

3. Create a Python variable named `a` and assign it the value 5.

In [ ]:

a=5

4. Perform an addition operation with any two numbers and display the result.

In [1]:



5+6

11

5. Divide 15 by 3 and show the result.

In [2]:



15/3

5.0

6. Use the `input()` function to ask the user for their name and then greet them.

In [4]:

name=input("What is your name: ")
print("Hello ", name)

What is your name: Minerva
Hello  Minerva

7. Calculate the square of 7 and display the result.

In [5]:

7**2

49

8. Ask the user for a number, multiply it by 2, and display the result.

In [6]:
num=int(input("give me a number: "))
ans=num*2
print(ans)

give me a number: 6
12

9. Write a program that converts time from hours to seconds. Ask the user to input the time in hours, and then convert that time into seconds. Remember, 1 hour equals 3600 seconds.

In [8]:
hrs=int(input("Enter a time in hours: "))
secs=hrs*3600
print(secs)

Enter a time in hours: 2
7200

10. Evaluate the expression `3 * (4 + 5) - 6 / 2` and display the result.

In [9]:

3*(4+5)-6/2

24.0

11. Assign the string 'Python' to a variable and print it.

In [10]:

a="Python"
print(a)

Python

12. Calculate the remainder when 22 is divided by 5.

In [11]:
22%5

2


13. Ask the user for two numbers, add them together, and display the sum.

In [12]:
a=int(input("Enter a number: "))
b=int(input("Enter another number: "))
print("The sum is", a+b)

Enter a number: 5
Enter another number: 5
The sum is 10

14. Write a Python code snippet that takes user input and prints the type of the input variable.

In [13]:
var=input("Enter an input: ")
print(type(var))

Enter an inputOk
<class 'str'>

15. Calculate the product of 8 and 12, then subtract 4 and display the result.

In [ ]:
a=8*12
b=a-4
print(b)

16. Explain the difference between `==` and `=` in Python.

In [14]:
### = sets things to be equal to eachother == checks if things are equal to eacother
a=5
if a==5:
  print("You know how = and == work")

You know how = and == work

17. Use Python to find the floor division of 100 by 11.

In [15]:


100//11

9

18. Ask the user for a number, then calculate the square of that number.

In [16]:
a=int(input("Enter a Number: "))
a**2

Enter a Number: 2

4

19. What does the `%` operator do in Python? Provide an example.

In [17]:
### the % operator provides then remainder left by division
print(10%5)
print(11%5)

0
1

20. Using variables, demonstrate how to calculate and print the area of a rectangle (length * width).

In [18]:
len=5
wid=5
area=len*wid
print(area)

25